<div class="question">
    <div *ngIf="question.type === 'choice'">
        <h3>{{ question.display }}</h3>
        <div class="form-check" *ngFor="let answer of getChoiceKeys()">
            <label [for]="name + answer" [ngClass]="{checked: question.value === answer, 'form-check-label': true}">
                <input [id]="name + answer" [name]="name" [value]="answer" type="radio" [(ngModel)]="question.value" class="form-check-input" (change)="emitChange()" />
                <span></span>
                {{ question.choices[answer].display }}
            </label>
        </div>
    </div>
    <div *ngIf="question.type === 'text' || question.type === 'zip'">
        <h3>{{ question.display }}</h3>
        <input class="form-control" type="text" [name]="name" [(ngModel)]="question.value" />
    </div>

    <div *ngIf="question.type === 'tel'">
        <h3>{{question.display}}</h3>
        <input class="form-control" [name]="name" type="tel" />
    </div>
</div>