/* You can add global styles to this file, and also import other style files */

$body-bg: #1B2038;
$body-color: rgb(174, 187, 255);
@import "~bootstrap/scss/bootstrap";
.questions{
    background-color:#25293c;
 }