/* You can add global styles to this file, and also import other style files */

$body-bg: #1a1e38;
$body-color: #fff;
$font-family-sans-serif: "Source Sans Pro", sans-serif;
$headings-font-weight: 300;
$headings-color: white;
$font-size-base: 1.2rem !default;
$font-weight-base: 300;
$welcome-font-size: $font-size-base * 2.5 !default;
$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 1.6 !default;
$h3-font-size: $font-size-base * 1.1 !default;
$h4-font-size: $font-size-base * 1.05 !default;
$h5-font-size: $font-size-base * 1.025 !default;
$h6-font-size: $font-size-base !default;
$buttoncolor:#FF1e53;
$link-hover-color: white;

@import "~bootstrap/scss/bootstrap";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2{
  //text-transform: uppercase;
  font-variant:small-caps;
}

.container {
  max-width: 700px;

  .logoBackgroundWelcome {
    background: url('./assets/WelcomeBackground.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .welcome {
    font-size: $welcome-font-size;
    font-weight: $headings-font-weight;
    letter-spacing: 0.05em;
  }

  .welcome-subtitle {
    font-size: $h3-font-size;
    font-weight: 400;
  }

  .logoBackground {
    background: none;
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
  }
}
.questions, .result {
  background-color: #25293c;

  label {
    line-height: 2;
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    
    span {
      background: #fff;
      width: 20px;
      height: 20px;
      display: inline-block;
      border: 1px solid #eaeaea;
      position: absolute;
      top: 10px;
      left: 0;
      transition: all .2s linear;
    }
  }

  label:hover span {
      border: 1px solid #bbb;
  }

  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"] + span {
    border-radius: 50%;
  }
  
  input[type="radio"]:checked + span{
      border: 2px solid #fff;
      background: #464EAF;
  }

  .question-container:last-child {
    margin-bottom: 6px !important;
  }
}

.reduceOpacity {
  opacity: 0.5 !important;
}


.btn-primary {
    @include button-variant($buttoncolor, darken($buttoncolor, 7.5%), darken($buttoncolor, 10%), lighten($buttoncolor,5%), lighten($buttoncolor, 10%), darken($buttoncolor,30%));
}

//@media (prefers-color-scheme: dark) {
//  body{
//    background-color:#1b2038;
//  }
//}